<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <appSettings>
      <add key="RobotId" value="TestRobot1" />
      <add key="TaskServerApiUrl" value="http://xyz" />
      <add key="TaskServerApiUrl-Testing" value="http://blahblah" />
      <add key="EmailErrorsTo" value="damon.fowler@day3.com.au" />
      <add key="EmailErrorsFrom" value="damon.fowler@day3.com.au" />
      <!-- insert other config settings as required - and add them to the ConfigOptions class -->
    </appSettings>
    <system.net>
      <mailSettings>
        <!-- For genuine emails, configure this as needed to match your SMTP server details -->
        <!--
          <smtp>
            <network host="localhost" port="25" defaultCredentials="true" />
          </smtp>
          -->
        
          <!-- This will enable sending of emails to a local HDD (sometimes good for testing - just ensure the dir exists) -->
          <smtp deliveryMethod="SpecifiedPickupDirectory">
              <specifiedPickupDirectory pickupDirectoryLocation="c:\Temp\LocalEmailStore"/>
          </smtp>
      </mailSettings>
    </system.net>
</configuration>
