<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <appSettings>
      <add key="TaskServerApiUrl" value="xyz" />
      <add key="TaskServerApiUrl-Testing" value="blahblah" />
      <add key="StagingServerConnectionString" value="something" />
      <add key="StagingServerConnectionString-Testing" value="something-else" />
    </appSettings>
</configuration>
